# Feature Engineering

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

import warnings
warnings.simplefilter("ignore", category=pd.errors.PerformanceWarning)   # For convinience

In [10]:
# Load cleaned train/val split and test dataset
train_df = pd.read_csv('../data/processed/cleaned_train.csv')   # Fit transformation only on the train split
valid_df = pd.read_csv('../data/processed/cleaned_valid.csv')
test_df = pd.read_csv('../data/processed/test_split.csv')

# Import EDA information
summary_cat_df = pd.read_csv('../data/processed/summary_cat.csv', index_col=0)
summary_cat_df

        n_cats most_freq_cat  most_freq_count
cat1         2             A           113312
cat2         2             A            85472
cat3         2             A           142387
cat4         2             A           102780
cat5         2             A            98990
...        ...           ...              ...
cat112      51             E            20176
cat113      59            BM            20958
cat114      19             A           105392
cat115      22             K            35230
cat116     312            HK            16759

[116 rows x 3 columns]

In [11]:
cat_vars = [var for var in train_df.columns if var.startswith('cat')]
cont_vars = [var for var in train_df.columns if var.startswith('cont')]

Things to notice:
- We should make sure the encoders and transforms should be fitted only by the train split
- Handle unseen data in val/test split

In [12]:
# Fequency encoding
counts = []
for cat in cat_vars:
    count = train_df[cat].value_counts()
    counts.append(count)

    train_df[f'{cat}_freq'] = train_df[cat].map(count)
    train_df[f'{cat}_log_freq'] = np.log1p(train_df[f'{cat}_freq'])     # take log to compress extreme counts
    train_df[f'{cat}_norm_freq'] = train_df[f'{cat}_freq'] / len(train_df)

    valid_df[f'{cat}_freq'] = valid_df[cat].map(count)
    valid_df[f'{cat}_log_freq'] = np.log1p(valid_df[f'{cat}_freq'])     # take log to compress extreme counts
    valid_df[f'{cat}_norm_freq'] = valid_df[f'{cat}_freq'] / len(train_df)

    test_df[f'{cat}_freq'] = test_df[cat].map(count).fillna(0)
    test_df[f'{cat}_log_freq'] = np.log1p(test_df[f'{cat}_freq'])     # take log to compress extreme counts
    test_df[f'{cat}_norm_freq'] = test_df[f'{cat}_freq'] / len(train_df)

train_df.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat113_norm_freq,cat114_freq,cat114_log_freq,cat114_norm_freq,cat115_freq,cat115_log_freq,cat115_norm_freq,cat116_freq,cat116_log_freq,cat116_norm_freq
0,A,B,A,B,A,A,A,A,B,A,...,0.037118,105392,11.565451,0.699559,21435,9.972827,0.142279,2576,7.854381,0.017099
1,A,B,A,A,A,A,A,A,B,B,...,0.139113,105392,11.565451,0.699559,21435,9.972827,0.142279,7411,8.910856,0.049192
2,A,B,A,B,A,A,A,A,B,B,...,0.139113,105392,11.565451,0.699559,35230,10.469682,0.233846,8188,9.010547,0.054349
3,A,B,A,A,A,A,A,A,B,A,...,0.117075,105392,11.565451,0.699559,35230,10.469682,0.233846,16117,9.687692,0.106980
4,A,A,A,A,B,A,A,A,A,A,...,0.032312,105392,11.565451,0.699559,35230,10.469682,0.233846,16117,9.687692,0.106980

In [17]:
for cat, count in zip(cat_vars, counts):
    print(cat)
    print(count)
    print("")

cat1
cat1
A    113311
B     37344
Name: count, dtype: int64

cat2
cat2
A    85471
B    65184
Name: count, dtype: int64

cat3
cat3
A    142386
B      8269
Name: count, dtype: int64

cat4
cat4
A    102780
B     47875
Name: count, dtype: int64

cat5
cat5
A    98989
B    51666
Name: count, dtype: int64

cat6
cat6
A    105392
B     45263
Name: count, dtype: int64

cat7
cat7
A    146984
B      3671
Name: count, dtype: int64

cat8
cat8
A    141860
B      8795
Name: count, dtype: int64

cat9
cat9
A    90535
B    60120
Name: count, dtype: int64

cat10
cat10
A    128138
B     22517
Name: count, dtype: int64

cat11
cat11
A    134596
B     16059
Name: count, dtype: int64

cat12
cat12
A    127819
B     22836
Name: count, dtype: int64

cat13
cat13
A    135106
B     15549
Name: count, dtype: int64

cat14
cat14
A    148831
B      1824
Name: count, dtype: int64

cat15
cat15
A    150625
B        30
Name: count, dtype: int64

cat16
cat16
A    145482
B      5173
Name: count, dtype: int64

cat17
cat17
A    149574
B      1081
Name: count, dtype: int64

cat18
cat18
A    149870
B       785
Name: count, dtype: int64

cat19
cat19
A    149224
B      1431
Name: count, dtype: int64

cat20
cat20
A    150483
B       172
Name: count, dtype: int64

cat21
cat21
A    150307
B       348
Name: count, dtype: int64

cat22
cat22
A    150621
B        34
Name: count, dtype: int64

cat23
cat23
A    125988
B     24667
Name: count, dtype: int64

cat24
cat24
A    145608
B      5047
Name: count, dtype: int64

cat25
cat25
A    135961
B     14694
Name: count, dtype: int64

cat26
cat26
A    141683
B      8972
Name: count, dtype: int64

cat27
cat27
A    134625
B     16030
Name: count, dtype: int64

cat28
cat28
A    144751
B      5904
Name: count, dtype: int64

cat29
cat29
A    147679
B      2976
Name: count, dtype: int64

cat30
cat30
A    147789
B      2866
Name: count, dtype: int64

cat31
cat31
A    146379
B      4276
Name: count, dtype: int64

cat32
cat32
A    149682
B       973
Name: count, dtype: int64

cat33
cat33
A    149880
B       775
Name: count, dtype: int64

cat34
cat34
A    150181
B       474
Name: count, dtype: int64

cat35
cat35
A    150491
B       164
Name: count, dtype: int64

cat36
cat36
A    125102
B     25553
Name: count, dtype: int64

cat37
cat37
A    132548
B     18107
Name: count, dtype: int64

cat38
cat38
A    135387
B     15268
Name: count, dtype: int64

cat39
cat39
A    146685
B      3970
Name: count, dtype: int64

cat40
cat40
A    144123
B      6532
Name: count, dtype: int64

cat41
cat41
A    144966
B      5689
Name: count, dtype: int64

cat42
cat42
A    149293
B      1362
Name: count, dtype: int64

cat43
cat43
A    147271
B      3384
Name: count, dtype: int64

cat44
cat44
A    138112
B     12543
Name: count, dtype: int64

cat45
cat45
A    147202
B      3453
Name: count, dtype: int64

cat46
cat46
A    149953
B       702
Name: count, dtype: int64

cat47
cat47
A    150097
B       558
Name: count, dtype: int64

cat48
cat48
A    150450
B       205
Name: count, dtype: int64

cat49
cat49
A    143295
B      7360
Name: count, dtype: int64

cat50
cat50
A    110087
B     40568
Name: count, dtype: int64

cat51
cat51
A    149648
B      1007
Name: count, dtype: int64

cat52
cat52
A    143616
B      7039
Name: count, dtype: int64

cat53
cat53
A    138425
B     12230
Name: count, dtype: int64

cat54
cat54
A    147000
B      3655
Name: count, dtype: int64

cat55
cat55
A    150537
B       118
Name: count, dtype: int64

cat56
cat56
A    150510
B       145
Name: count, dtype: int64

cat57
cat57
A    148225
B      2430
Name: count, dtype: int64

cat58
cat58
A    150462
B       193
Name: count, dtype: int64

cat59
cat59
A    150414
B       241
Name: count, dtype: int64

cat60
cat60
A    150291
B       364
Name: count, dtype: int64

cat61
cat61
A    150090
B       565
Name: count, dtype: int64

cat62
cat62
A    150615
B        40
Name: count, dtype: int64

cat63
cat63
A    150595
B        60
Name: count, dtype: int64

cat64
cat64
A    150618
B        37
Name: count, dtype: int64

cat65
cat65
A    148864
B      1791
Name: count, dtype: int64

cat66
cat66
A    143977
B      6678
Name: count, dtype: int64

cat67
cat67
A    150104
B       551
Name: count, dtype: int64

cat68
cat68
A    150547
B       108
Name: count, dtype: int64

cat69
cat69
A    150417
B       238
Name: count, dtype: int64

cat70
cat70
A    150637
B        18
Name: count, dtype: int64

cat71
cat71
A    142983
B      7672
Name: count, dtype: int64

cat72
cat72
A    94626
B    56029
Name: count, dtype: int64

cat73
cat73
A    123452
B     27185
C        18
Name: count, dtype: int64

cat74
cat74
A    147785
B      2852
C        18
Name: count, dtype: int64

cat75
cat75
A    123422
B     27232
C         1
Name: count, dtype: int64

cat76
cat76
A    145033
B      4990
C       632
Name: count, dtype: int64

cat77
cat77
D    149996
C       326
B       286
A        47
Name: count, dtype: int64

cat78
cat78
B    149189
A       634
C       540
D       292
Name: count, dtype: int64

cat79
cat79
B    122378
D     21270
A      5647
C      1360
Name: count, dtype: int64

cat80
cat80
D    109854
B     37313
C      2858
A       630
Name: count, dtype: int64

cat81
cat81
D    123535
B     19314
C      7172
A       634
Name: count, dtype: int64

cat82
cat82
B    117995
A     15443
D     15068
C      2149
Name: count, dtype: int64

cat83
cat83
B    113137
A     20801
D     12727
C      3990
Name: count, dtype: int64

cat84
cat84
C    123940
A     23555
D      2804
B       356
Name: count, dtype: int64

cat85
cat85
B    148780
C       839
A       634
D       402
Name: count, dtype: int64

cat86
cat86
B    83340
D    57920
C     8159
A     1236
Name: count, dtype: int64

cat87
cat87
B    133534
D      9404
C      7083
A       634
Name: count, dtype: int64

cat88
cat88
A    135197
D     15383
E        68
B         7
Name: count, dtype: int64

cat89
cat89
A    146984
B      3458
C       183
D        24
E         3
I         2
G         1
Name: count, dtype: int64

cat90
cat90
A    142386
B      7597
C       607
D        56
E         4
F         3
G         2
Name: count, dtype: int64

cat91
cat91
A    88760
B    34113
G    21406
C     5162
D      904
E      212
F       80
H       18
Name: count, dtype: int64

cat92
cat92
A    99753
H    50321
B      503
C       49
I       18
D       10
F        1
Name: count, dtype: int64

cat93
cat93
D    120200
C     28594
B       914
E       604
A       343
Name: count, dtype: int64

cat94
cat94
D    97193
B    41477
C    10916
A      595
F      389
E       70
G       15
Name: count, dtype: int64

cat95
cat95
C    69857
D    63925
E    13850
A     2934
B       89
Name: count, dtype: int64

cat96
cat96
E    139492
D      6325
B      2365
G      2139
F       280
A        22
C        21
I        11
Name: count, dtype: int64

cat97
cat97
C    62666
E    37966
A    33438
G    13382
D     3007
F      168
B       28
Name: count, dtype: int64

cat98
cat98
A    84613
D    40373
C    17108
E     8125
B      436
Name: count, dtype: int64

cat99
cat99
P    63865
T    57924
R     8159
D     7027
S     5629
N     2333
K     2157
F     2153
E      781
C      249
J      206
H       80
M       37
I       35
G       17
O        3
Name: count, dtype: int64

cat100
cat100
F    34406
I    31882
L    15930
K    11096
G    10288
J     9607
H     8658
A     7542
N     6066
B     5320
O     4557
M     4172
C      670
D      443
E       18
Name: count, dtype: int64

cat101
cat101
A    85471
D    13739
C    13462
G     8739
F     8099
J     5854
I     5351
M     2943
L     2552
Q     2183
O     1998
S      141
R      114
E        4
N        1
H        1
B        1
U        1
K        1
Name: count, dtype: int64

cat102
cat102
A    141860
B      4114
C      3905
D       377
E       377
G        14
F         7
J         1
Name: count, dtype: int64

cat103
cat103
A    98989
B    26626
C    13220
D     6261
E     3579
F     1241
G      448
H      145
I       94
J       33
L       11
K        7
N        1
Name: count, dtype: int64

cat104
cat104
E    34340
G    32521
D    22156
F    15319
H    13755
K    11355
I     8770
C     5565
L     2811
J     2531
M      912
O      333
N      123
P       73
A       55
B       34
Q        2
Name: count, dtype: int64

cat105
cat105
E    61341
F    50249
G    16421
D     9700
H     9027
I     2361
J      550
K      392
C      220
M      138
L      118
A       58
N       53
P        9
O        6
B        5
Q        4
T        1
R        1
S        1
Name: count, dtype: int64

cat106
cat106
G    37733
H    30129
F    28835
I    17201
J    14679
E    10416
K     6370
L     2379
D     1540
M      943
N      185
C      102
A       59
O       49
R       27
B        6
P        2
Name: count, dtype: int64

cat107
cat107
F    37929
G    22791
H    18810
J    17976
K    16116
I    15972
E    10070
L     5549
D     2619
M     1627
N      638
C      177
Q      117
O       93
P       77
A       59
U       27
R        5
B        2
S        1
Name: count, dtype: int64

cat108
cat108
B    52640
K    33842
G    17056
D    15386
F     8125
A     7389
E     6403
I     5797
H     3431
C      418
J      168
Name: count, dtype: int64

cat109
cat109
BI    122196
AB     17657
BU      2514
K       2410
G       1097
       ...
BF         1
BV         1
ZZ         1
CB         1
AK         1
Name: count, Length: 82, dtype: int64

cat110
cat110
CL    20299
CS    19687
EG    19622
EB    17124
CO    13944
      ...
DV        1
AS        1
BK        1
EJ        1
CB        1
Name: count, Length: 129, dtype: int64

cat111
cat111
A    102780
C     25800
E     11801
G      5611
I      2881
K      1103
M       381
O       165
Q        73
S        29
U        11
W        10
B         4
Y         2
D         2
F         2
Name: count, dtype: int64

cat112
cat112
E     20176
AH    14865
AS    14214
J     12949
AF     7436
AN     7399
N      6787
U      6629
AV     5707
AK     5342
K      4806
AI     3808
S      3349
AP     3231
G      2553
AW     2509
F      2496
A      1954
AR     1882
C      1813
O      1740
D      1331
AD     1206
AY     1141
AG     1086
Y      1080
AT     1034
AA      989
AM      916
R       916
AL      914
AX      871
I       736
X       730
AE      655
Q       639
V       543
H       432
AO      415
T       413
L       393
W       374
AC      373
M       341
AU      340
B       334
P       319
AB      201
BA      157
AJ      111
AQ       20
Name: count, dtype: int64

cat113
cat113
BM    20958
AE    17638
L     10335
AX    10139
Y      9110
K      6241
X      5658
S      5592
AF     4868
AN     4174
H      4080
AT     3723
AD     3553
AJ     3541
AS     3090
AK     2839
BN     2811
I      2614
A      2611
J      2531
N      2252
Q      2239
BC     2227
BJ     2112
M      1942
AG     1929
BG     1441
AW     1440
AO     1340
AU     1318
F      1160
BO     1105
BH      972
BK      544
AV      423
AY      381
AM      365
AI      347
BD      273
BF      272
AH      177
C       101
BB       40
BA       34
BI       27
AQ       15
G        14
AB       13
V        11
O         7
U         6
AP        6
E         5
BL        3
BE        3
AL        2
T         1
P         1
AR        1
Name: count, dtype: int64

cat114
cat114
A    105392
C     13454
E     13151
J      6559
F      6290
I      1980
N      1933
R       710
L       709
U       207
O       191
Q        37
V        27
B         6
D         4
S         2
X         1
W         1
G         1
Name: count, dtype: int64

cat115
cat115
K    35230
O    21435
J    19094
N    17874
P    17123
L    12904
M     9999
Q     6597
I     5687
H     2251
R     1646
G      247
F      224
S      198
A       59
T       46
U       16
E        8
W        6
X        5
D        4
B        2
Name: count, dtype: int64

cat116
cat116
HK    16758
DJ    16117
CK     8188
DP     7411
GS     6963
      ...
BM        1
AD        1
FP        1
IB        1
AE        1
Name: count, Length: 312, dtype: int64

In [23]:
# Ordinal Encoding (Much easier to handle unseen data)
ord_en = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
ord_en.fit(train_df[cat_vars])
    
train_df[cat_vars] = ord_en.transform(train_df[cat_vars])
valid_df[cat_vars] = ord_en.transform(valid_df[cat_vars])
test_df[cat_vars] = ord_en.transform(test_df[cat_vars])

train_df.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat113_norm_freq,cat114_freq,cat114_log_freq,cat114_norm_freq,cat115_freq,cat115_log_freq,cat115_norm_freq,cat116_freq,cat116_log_freq,cat116_norm_freq
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.037118,105392,11.565451,0.699559,21435,9.972827,0.142279,2576,7.854381,0.017099
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.139113,105392,11.565451,0.699559,21435,9.972827,0.142279,7411,8.910856,0.049192
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.139113,105392,11.565451,0.699559,35230,10.469682,0.233846,8188,9.010547,0.054349
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.117075,105392,11.565451,0.699559,35230,10.469682,0.233846,16117,9.687692,0.106980
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.032312,105392,11.565451,0.699559,35230,10.469682,0.233846,16117,9.687692,0.106980

In [24]:
# One Hot Encoding
# Only on low cardinality columns
low_card_cols = summary_cat_df[summary_cat_df['n_cats'] <= 3].index.to_list()

onehot_en = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
onehot_en.fit(train_df[low_card_cols])

train_onehot_encoded = onehot_en.transform(train_df[low_card_cols])
valid_onehot_encoded = onehot_en.transform(valid_df[low_card_cols])
test_onehot_encoded = onehot_en.transform(test_df[low_card_cols])

train_onehot_df = pd.DataFrame(train_onehot_encoded, columns=onehot_en.get_feature_names_out(low_card_cols))
valid_onehot_df = pd.DataFrame(valid_onehot_encoded, columns=onehot_en.get_feature_names_out(low_card_cols))
test_onehot_df = pd.DataFrame(test_onehot_encoded, columns=onehot_en.get_feature_names_out(low_card_cols))

train_df = pd.concat([train_df, train_onehot_df], axis=1)
valid_df = pd.concat([valid_df, valid_onehot_df], axis=1)
test_df = pd.concat([test_df, test_onehot_df], axis=1)

train_df.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat73_2.0,cat74_0.0,cat74_1.0,cat74_2.0,cat75_0.0,cat75_1.0,cat75_2.0,cat76_0.0,cat76_1.0,cat76_2.0
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [25]:
# Categorical groups numeric stats
for cat in cat_vars:
    group = train_df.groupby(cat)
    for cont in cont_vars:
        # Calculate global stats for unseen categories
        global_mean = train_df[cont].mean()
        global_med = train_df[cont].median()
        global_std = train_df[cont].std()
        
        train_df[f'{cat}_{cont}_mean'] = train_df[cat].map(group[cont].mean())
        valid_df[f'{cat}_{cont}_mean'] = valid_df[cat].map(group[cont].mean()).fillna(global_mean)
        test_df[f'{cat}_{cont}_mean'] = test_df[cat].map(group[cont].mean()).fillna(global_mean)

        train_df[f'{cat}_{cont}_med'] = train_df[cat].map(group[cont].median())
        valid_df[f'{cat}_{cont}_med'] = valid_df[cat].map(group[cont].median()).fillna(global_med)
        test_df[f'{cat}_{cont}_med'] = test_df[cat].map(group[cont].median()).fillna(global_med)

        train_df[f'{cat}_{cont}_std'] = train_df[cat].map(group[cont].std())
        valid_df[f'{cat}_{cont}_std'] = valid_df[cat].map(group[cont].std()).fillna(global_std)
        test_df[f'{cat}_{cont}_std'] = test_df[cat].map(group[cont].std()).fillna(global_std)

train_df.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat116_cont11_std,cat116_cont12_mean,cat116_cont12_med,cat116_cont12_std,cat116_cont13_mean,cat116_cont13_med,cat116_cont13_std,cat116_cont14_mean,cat116_cont14_med,cat116_cont14_std
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.070447,0.627966,0.594646,0.065338,0.766945,0.789182,0.064777,0.532059,0.486164,0.224767
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.019860,0.346091,0.352251,0.021235,0.416031,0.339244,0.124558,0.462671,0.383468,0.224749
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.022772,0.222776,0.220003,0.020596,0.324709,0.333292,0.065076,0.496191,0.392663,0.231050
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.048820,0.330160,0.321570,0.046048,0.413110,0.345247,0.133855,0.480627,0.388063,0.222465
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.048820,0.330160,0.321570,0.046048,0.413110,0.345247,0.133855,0.480627,0.388063,0.222465

In [26]:
# Numerics transformation

# Rank encoding for numerics
def fit_rank_transform(df, col):
    unique = sorted(df[col].unique())
    ranks = np.searchsorted(unique, unique) / len(unique)
    return unique, ranks

def transform_rank(values, unique, ranks):
    ''' Return the rank of value given the fitted rank transform (unique, ranks) '''
    return np.interp(values, unique, ranks)

# Winsorization (cap extremes)
def fit_winsor(df, col):
    l, u = df[col].quantile([0.01, 0.99])
    return l, u


for cont in cont_vars:
    # Log transform
    train_df[f'log_{cont}'] = np.log1p(train_df[cont])
    valid_df[f'log_{cont}'] = np.log1p(valid_df[cont])
    test_df[f'log_{cont}'] = np.log1p(test_df[cont])

    # Rank transform
    uniq, ranks = fit_rank_transform(train_df, cont)
    train_df[f'{cont}_rank'] = transform_rank(train_df[cont], uniq, ranks)
    valid_df[f'{cont}_rank'] = transform_rank(valid_df[cont], uniq, ranks)
    test_df[f'{cont}_rank'] = transform_rank(test_df[cont], uniq, ranks)

    # Winsorization
    l, u = fit_winsor(train_df, cont)
    train_df[f'{cont}_cap'] = train_df[cont].clip(l, u)
    valid_df[f'{cont}_cap'] = valid_df[cont].clip(l, u)
    test_df[f'{cont}_cap'] = test_df[cont].clip(l, u)

# Transform target loss
train_df[f'log_loss'] = np.log(train_df['loss'])
valid_df[f'log_loss'] = np.log(valid_df['loss'])
test_df[f'log_loss'] = np.log(test_df['loss'])
    
train_df

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,log_cont12,cont12_rank,cont12_cap,log_cont13,cont13_rank,cont13_cap,log_cont14,cont14_rank,cont14_cap,log_loss
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.466652,0.481366,0.594646,0.600205,0.764873,0.822493,0.539322,0.748000,0.714843,7.702186
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.312111,0.298137,0.366307,0.477123,0.541076,0.611431,0.265817,0.243547,0.304496,7.157424
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.184164,0.133540,0.202213,0.219947,0.218130,0.246011,0.359495,0.477393,0.432606,7.924380
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.306932,0.291925,0.359249,0.296578,0.320113,0.345247,0.546265,0.779089,0.726792,8.545367
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.301771,0.285714,0.352251,0.294339,0.317280,0.342239,0.324205,0.389743,0.382931,7.031936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150650,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.198853,0.155280,0.220003,0.287651,0.308782,0.333292,0.189145,0.047314,0.208216,7.088926
150651,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.263841,0.239130,0.301921,0.276605,0.294618,0.318646,0.266871,0.244965,0.305872,7.010619
150652,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.366983,0.363354,0.443374,0.292105,0.314448,0.339244,0.408054,0.562376,0.503888,8.659151
150653,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.616733,0.704969,0.852865,0.503652,0.580737,0.654753,0.543316,0.764055,0.721707,7.354279
150654,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.665998,0.832298,0.935432,0.593609,0.747875,0.810511,0.543173,0.762013,0.721460,8.466262

In [27]:
valid_df

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,log_cont12,cont12_rank,cont12_cap,log_cont13,cont13_rank,cont13_cap,log_cont14,cont14_rank,cont14_cap,log_loss
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.216462,0.177019,0.241676,0.261390,0.274788,0.298734,0.191620,0.054405,0.211210,8.114690
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.301771,0.285714,0.352251,0.267873,0.283286,0.307181,0.213541,0.108243,0.238054,8.937905
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.256467,0.229814,0.292356,0.252844,0.263456,0.287682,0.194784,0.065298,0.215049,7.739738
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.484716,0.500000,0.623714,0.590168,0.739377,0.804291,0.553640,0.806093,0.739573,8.529857
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.572433,0.627329,0.772574,0.620450,0.824363,0.859764,0.589501,0.883474,0.803088,8.016014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18826,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.216462,0.177019,0.241676,0.229989,0.232295,0.258586,0.322848,0.383446,0.381055,8.398916
18827,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.153277,0.083851,0.165648,0.339696,0.373938,0.404520,0.550942,0.800306,0.734887,7.458325
18828,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.380001,0.378882,0.462286,0.272227,0.288952,0.312885,0.230081,0.161060,0.258702,8.492245
18829,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.263841,0.239130,0.301921,0.548733,0.654391,0.731059,0.327338,0.403132,0.387270,6.651481
18830,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.646149,0.770186,0.908179,0.625476,0.841360,0.869135,0.592032,0.893289,0.807657,9.155892

## Export engineered dataframes

In [28]:
# Store in parquet format for efficiency
train_df.to_parquet('../data/processed/transformed_train.parquet', index=False)
valid_df.to_parquet('../data/processed/transformed_valid.parquet', index=False)
test_df.to_parquet('../data/processed/transformed_test.parquet', index=False)